<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <!-- <style>
      body {
        background-image: url("img/bglogin.jpg");
        /* background-color: #f1faee; */
      }
    </style> -->
  </head>
  <body>
    <!-- AWAL INPUT  -->
    <section class="hero-section">
      <div class="container-fluid h-100">
        <div class="row h-100">
          <div class="col-6 my-auto ms-3 hero-tagline">
            <h1 style="font-weight: bolder; font-size: 70px">PT PLN (PERSERO)</h1>
            <h1 style="font-weight: bolder; font-size: 57px">ULPLTD KOTAMOBAGU</h1>
            <p style="font-size: 45px; font-weight: lighter">Kapasitas 8000 kW</p>
          </div>
        </div>
        <img src="public/img/hero.png" style="width: 55%" alt="" class="position-absolute end-0 top-0" />
        <div style="position: absolute; left: 50px; bottom: 0px">
          <h1 style="color: white; font-weight: bolder; margin-bottom: 0px">B E R S I H</h1>
          <h1 style="color: white; font-weight: lighter"><span class="typed" data-typed-items="Bangga, Efisien, Ramah, Safety, Integritas, Handal"></span></h1>
        </div>
      </div>
    </section>

    <section class="location-section">
      <div class="container-fluid h-100">
        <div class="row h-100">
          <div class="col-6 offset-6 my-auto">
            <img src="public/img/your-location.png" alt="" style="width: 40%; display: block; margin-left: auto; margin-right: auto" class="mb-3" />
            <p style="font-size: 25px; width: 90%" class="mx-auto"><span style="font-weight: bolder">ULPLTD Kotamobagu</span> terletak di Jl. Arif Rahman Hakim, Kel. Biga, Kec. Kotamobagu Utara, Kota Kotamobagu, Provinsi Sulawesi Utara</p>
          </div>
        </div>
      </div>
    </section>
    <!-- AKHIR INPUT  -->
    <footer><%- include('../partials/footer') %></footer>
  </body>
</html>
