<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <!-- <style>
      body {
        background-image: url("img/bglogin.jpg");
        /* background-color: #f1faee; */
      }
    </style> -->
  </head>
  <body>
    <!-- AWAL INPUT  -->
    <section class="hero-section">
      <div class="container-fluid h-100">
        <div class="row h-100">
          <div class="col-6 my-auto ms-3 hero-tagline">
            <h1 style="font-weight: bold; font-size: 35px; color: #1c1c1c">Company Profile</h1>
            <h1 style="font-weight: bolder; font-size: 70px">PT PLN (PERSERO)</h1>
            <h1 style="font-weight: bolder; font-size: 57px">ULPLTD KOTAMOBAGU</h1>
            <p style="font-size: 45px; font-weight: lighter">Kapasitas 8000 kW</p>
          </div>
        </div>
        <img src="public/img/hero.png" style="width: 60%" alt="" class="position-absolute end-0 top-0" />
        <div style="position: absolute; left: 50px; bottom: 0px">
          <h1 style="color: white; font-weight: bolder; margin-bottom: 0px">B E R S I H</h1>
          <h1 style="color: white; font-weight: lighter"><span class="typed" data-typed-items="Bangga, Efisien, Ramah, Safety, Integritas, Handal"></span></h1>
        </div>
      </div>
    </section>

    <!-- Awal Pendahuluan  -->
    <section class="pendahuluan-section">
      <div class="container-fluid h-100 position-relative">
        <div class="row h-100">
          <div class="col-8 my-auto mx-auto text-center">
            <h2 style="color: white; line-height: 50px">
              <span style="color: #00a2ba; font-weight: bold">ULPLTD Kotamobagu</span> merupakan Pembangkit Listrik Tenaga Diesel yang terletak di Kota Kotamobagu Sulawesi Utara yang beroperasi sejak tahun 1985. Saat ini ULPLTD Kotamobagu
              memiliki 6 mesin dengan total daya terpasang 8000 kW. ULPLTD Kotamobagu saat ini berperan sebagai <span style="font-style: italic">peaker</span> dalam menopang beban puncak pada Sistem Sulutgo.
            </h2>
            <br />
            <hr style="height: 3px; width: 500px; color: #00a2ba" class="mx-auto" />
          </div>
        </div>
      </div>
    </section>
    <!-- Akhir Pendahuluan  -->

    <!-- Awal Location  -->
    <section class="location-section">
      <div class="container-fluid h-100">
        <div class="row h-100">
          <div class="col-6 offset-6 my-auto">
            <img src="public/img/your-location.png" alt="" style="width: 40%; display: block; margin-left: auto; margin-right: auto" class="mb-3" />
            <p style="font-size: 25px; width: 90%" class="mx-auto"><span style="font-weight: bolder">ULPLTD Kotamobagu</span> terletak di Jl. Arif Rahman Hakim, Kel. Biga, Kec. Kotamobagu Utara, Kota Kotamobagu, Provinsi Sulawesi Utara</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Akhir Location  -->

    <!-- Awal Mesin  -->
    <section class="mesin-section">
      <div class="container-fluid h-100">
        <div class="row h-100 align-content-around">
          <div class="d-flex justify-content-evenly">
            <div class="position-relative">
              <img src="public/img/unit1.jpg" alt="" style="width: 400px; border-radius: 50px" />
              <p style="font-size: 15px; padding: 5px; font-weight: lighter; color: white; background-color: #00a1ba7a" class="position-absolute start-50 bottom-0 translate-middle-x">Daihatsu 6PSHTc 26 Dm</p>
            </div>
            <div class="position-relative">
              <img src="public/img/unit2.jpg" alt="" style="width: 400px; border-radius: 50px" />
              <p style="font-size: 15px; padding: 5px; font-weight: lighter; color: white; background-color: #00a1ba7a" class="position-absolute start-50 bottom-0 translate-middle-x">Daihatsu 6PSHTc 26 D</p>
            </div>
            <div class="position-relative">
              <img src="public/img/unit3.jpg" alt="" style="width: 400px; border-radius: 50px" />
              <p style="font-size: 15px; padding: 5px; font-weight: lighter; color: white; background-color: #00a1ba7a" class="position-absolute start-50 bottom-0 translate-middle-x">SWD 8 FHD 240</p>
            </div>
          </div>
          <div class="d-flex justify-content-evenly">
            <div class="position-relative">
              <img src="public/img/unit4.jpg" alt="" style="width: 400px; border-radius: 50px" />
              <p style="font-size: 15px; padding: 5px; font-weight: lighter; color: white; background-color: #00a1ba7a" class="position-absolute start-50 bottom-0 translate-middle-x">SWD 8 FHD 240</p>
            </div>
            <div class="position-relative">
              <img src="public/img/unit5.jpg" alt="" style="width: 400px; border-radius: 50px" />
              <p style="font-size: 15px; padding: 5px; font-weight: lighter; color: white; background-color: #00a1ba7a" class="position-absolute start-50 bottom-0 translate-middle-x">MAK 8M 453 AK</p>
            </div>
            <div class="position-relative">
              <img src="public/img/unit6.jpg" alt="" style="width: 400px; border-radius: 50px" />
              <p style="font-size: 15px; padding: 5px; font-weight: lighter; color: white; background-color: #00a1ba7a" class="position-absolute start-50 bottom-0 translate-middle-x">MAK 8M 453 AK</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Akhir Mesin  -->
    <!-- AKHIR INPUT  -->
    <footer><%- include('../partials/footer') %></footer>
  </body>
</html>
