<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Portal ULPLTD Kotamobagu</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/public/img/logopln.png" rel="icon" />
    <link href="/public/img/logopln.png" rel="logopln" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <!-- <link href="vendor/quill/quill.snow.css" rel="stylesheet" /> -->
    <!-- <link href="vendor/quill/quill.bubble.css" rel="stylesheet" /> -->
    <link href="public/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <!-- <link href="vendor/simple-datatables/style.css" rel="stylesheet" /> -->

    <!-- Template Main CSS File -->
    <link href="/public/css/style.css" rel="stylesheet" />
    <link href="/public/css/responsive.css" rel="stylesheet" />

    <!-- Swiper  -->
    <link href="public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Glightbox -->
    <link href="public/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />

    <!-- AOS  -->
    <link href="public/vendor/aos/aos.css" rel="stylesheet" />
  </head>
  <body>
    <!-- AWAL INPUT  -->
    <div class="container-fluid detail-mesin">
      <nav class="navbar navbar-dark bg-secondary navbar-expand d-lg-none d-xl-none fixed-bottom">
        <ul class="navbar-nav nav-justified w-100">
          <li class="nav-item dropup">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Unit</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Unit 1</a></li>
              <li><a class="dropdown-item" href="#">Unit 2</a></li>
              <li><a class="dropdown-item" href="#">Unit 3</a></li>
              <li><a class="dropdown-item" href="#">Unit 4</a></li>
              <li><a class="dropdown-item" href="#">Unit 5</a></li>
              <li><a class="dropdown-item" href="#">Unit 6</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#mesin" class="nav-link">Mesin</a>
          </li>
          <li class="nav-item">
            <a href="#generator" class="nav-link">Generator</a>
          </li>
          <li class="nav-item">
            <a href="#trafo" class="nav-link">Trafo</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- Bottom Navbar -->

    <div class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2><%= mesin.namaUnit %></h2>
        </div>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <section id="detail-mesin" class="detail-mesin">
      <div class="container" data-aos="fade-up">
        <div class="row gy-4">
          <div class="col-lg-8">
            <img src="/public/img/unit1.jpg" class="img-fluid" alt="" />
          </div>

          <div class="col-lg-4">
            <div class="mesin-kit rounded-3" id="mesin">
              <h3>Mesin</h3>
              <ul>
                <li><strong>Category</strong>: Web design</li>
                <li><strong>Client</strong>: ASU Company</li>
                <li><strong>Project date</strong>: 01 March, 2020</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div>

            <div class="mesin-kit rounded-3 mt-3" id="generator">
              <h3>Generator</h3>
              <ul>
                <li><strong>Category</strong>: Web design</li>
                <li><strong>Client</strong>: ASU Company</li>
                <li><strong>Project date</strong>: 01 March, 2020</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div>

            <div class="mesin-kit rounded-3 mt-3" id="trafo">
              <h3>Transformator</h3>
              <ul>
                <li><strong>Category</strong>: Web design</li>
                <li><strong>Client</strong>: ASU Company</li>
                <li><strong>Project date</strong>: 01 March, 2020</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- AKHIR INPUT  -->

    <!-- Awal Footer  -->
    <footer>
      <div class="preloader" style="background: white url(public/img/preloading.gif) no-repeat center center"></div>
      <!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->

      <!-- Vendor JS Files -->
      <!-- <script src="vendor/apexcharts/apexcharts.min.js"></script> -->
      <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="public/vendor/typed.js/typed.min.js"></script>
      <script src="public/vendor/swiper/swiper-bundle.min.js"></script>
      <script src="public/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="public/vendor/aos/aos.js"></script>
      <!-- <script src="vendor/chart.js/chart.min.js"></script> -->
      <!-- <script src="vendor/echarts/echarts.min.js"></script> -->
      <!-- <script src="vendor/quill/quill.min.js"></script> -->
      <!-- <script src="vendor/simple-datatables/simple-datatables.js"></script> -->
      <!-- <script src="vendor/tinymce/tinymce.min.js"></script> -->
      <!-- <script src="vendor/php-email-form/validate.js"></script> -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0-rc/dist/chartjs-plugin-datalabels.min.js"></script>
      <script src="http://maps.googleapis.com/maps/api/js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/TextPlugin.min.js"></script>

      <!-- Template Main JS File -->
      <script src="public/js/script1.js"></script>
      <script src="public/js/script2.js"></script>
      <script src="public/js/script3.js"></script>
      <script src="public/js/script4.js"></script>
      <script src="/public/js/script5.js"></script>
      <script src="public/js/script6.js"></script>
      <script src="public/js/script7.js"></script>
      <script src="public/js/main.js"></script>
      <script src="public/js/chartEAF.js"></script>
      <script src="public/js/chartEFOR.js"></script>
      <script src="public/js/chartSOF.js"></script>
      <script src="public/js/chartPS.js"></script>
      <script src="public/js/chartSFC.js"></script>
      <script src="public/js/chartEAFKum.js"></script>
      <script src="public/js/chartEFORKum.js"></script>
      <script src="public/js/chartSOFKum.js"></script>
      <script src="public/js/chartPSKum.js"></script>
      <script src="public/js/chartSFCKum.js"></script>
      <script src="public/js/chartEAFU.js"></script>
      <script src="public/js/chartPSU.js"></script>
      <script src="public/js/chartSFCU.js"></script>
      <script src="public/js/chartHOP.js"></script>
      <script src="public/js/chartProduksi.js"></script>
      <script src="public/js/maps.js"></script>
      <script src="public/js/gsap.js"></script>
      <script src="public/vendor/typed.js/typed.min.js"></script>
      <!-- <script src="formula.js"></script> -->
    </footer>
    <!-- Awal Footer  -->
  </body>
</html>
