<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <!-- AWAL INPUT  -->
    <div class="container-fluid detail-mesin">
      <nav class="navbar navbar-dark bg-info navbar-expand d-md-none d-lg-none d-xl-none fixed-bottom">
        <ul class="navbar-nav nav-justified w-100">
          <li class="nav-item dropup">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Unit</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Unit 1</a></li>
              <li><a class="dropdown-item" href="#">Unit 2</a></li>
              <li><a class="dropdown-item" href="#">Unit 3</a></li>
              <li><a class="dropdown-item" href="#">Unit 4</a></li>
              <li><a class="dropdown-item" href="#">Unit 5</a></li>
              <li><a class="dropdown-item" href="#">Unit 6</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Mesin</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Generator</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Trafo</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- Bottom Navbar -->
    <!-- AKHIR INPUT  -->

    <!-- Awal Footer  -->
    <footer>
      <div class="preloader" style="background: white url(public/img/preloading.gif) no-repeat center center"></div>
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

      <!-- Vendor JS Files -->
      <!-- <script src="vendor/apexcharts/apexcharts.min.js"></script> -->
      <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="public/vendor/typed.js/typed.min.js"></script>
      <script src="public/vendor/swiper/swiper-bundle.min.js"></script>
      <script src="public/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="public/vendor/aos/aos.js"></script>
      <!-- <script src="vendor/chart.js/chart.min.js"></script> -->
      <!-- <script src="vendor/echarts/echarts.min.js"></script> -->
      <!-- <script src="vendor/quill/quill.min.js"></script> -->
      <!-- <script src="vendor/simple-datatables/simple-datatables.js"></script> -->
      <!-- <script src="vendor/tinymce/tinymce.min.js"></script> -->
      <!-- <script src="vendor/php-email-form/validate.js"></script> -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0-rc/dist/chartjs-plugin-datalabels.min.js"></script>
      <script src="http://maps.googleapis.com/maps/api/js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/TextPlugin.min.js"></script>

      <!-- Template Main JS File -->
      <script src="public/js/script1.js"></script>
      <script src="public/js/script2.js"></script>
      <script src="public/js/script3.js"></script>
      <script src="public/js/script4.js"></script>
      <script src="public/js/script5.js"></script>
      <script src="public/js/script6.js"></script>
      <script src="public/js/script7.js"></script>
      <script src="public/js/main.js"></script>
      <script src="public/js/chartEAF.js"></script>
      <script src="public/js/chartEFOR.js"></script>
      <script src="public/js/chartSOF.js"></script>
      <script src="public/js/chartPS.js"></script>
      <script src="public/js/chartSFC.js"></script>
      <script src="public/js/chartEAFKum.js"></script>
      <script src="public/js/chartEFORKum.js"></script>
      <script src="public/js/chartSOFKum.js"></script>
      <script src="public/js/chartPSKum.js"></script>
      <script src="public/js/chartSFCKum.js"></script>
      <script src="public/js/chartEAFU.js"></script>
      <script src="public/js/chartPSU.js"></script>
      <script src="public/js/chartSFCU.js"></script>
      <script src="public/js/chartHOP.js"></script>
      <script src="public/js/chartProduksi.js"></script>
      <script src="public/js/maps.js"></script>
      <script src="public/js/gsap.js"></script>
      <script src="public/vendor/typed.js/typed.min.js"></script>
      <!-- <script src="formula.js"></script> -->
    </footer>
    <!-- Awal Footer  -->
  </body>
</html>
