<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <!-- <style>
      body {
        background-image: url("img/bglogin.jpg");
        /* background-color: #f1faee; */
      }
    </style> -->
  </head>
  <body>
    <!-- AWAL INPUT  -->
    <img src="public/img/bglogin.jpg" style="width: 100%; height: 100vh; position: relative" alt="" />
    <main>
      <div class="container position-absolute start-50 top-50 translate-middle">
        <section class="section login min-vh-100 d-flex align-items-center py-4">
          <div class="container">
            <div class="row">
              <p style="font-size: 50px; font-weight: bolder; margin-top: -30px"><span style="color: #00a1ba">PORTAL</span> ULPLTD KOTAMOBAGU</p>
            </div>
            <div class="row">
              <div class="col-8 mt-5">
                <h2>More Information About Us!</h2>
                <a href="company-profile" class="btn btn-secondary btn-lg"><i class="bi-house-fill"></i> Company Profile</a>
              </div>
              <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                <div class="log d-inline-block justify-content-center">
                  <div class="d-flex justify-content-center mb-3"><img src="public/img/logopln2.png" alt="" /></div>
                </div>
                <!-- End Logo -->

                <div class="card mb-3">
                  <div class="card-body">
                    <div class="pt-4 pb-2">
                      <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                      <p class="text-center small">Enter your email & password to login</p>
                    </div>

                    <form method="post" action="/login" class="row g-3 needs-validation" novalidate>
                      <div class="col-12">
                        <label for="yourUsername" class="form-label">Email</label>
                        <div class="input-group has-validation">
                          <input type="email" name="email" class="form-control" id="yourEmail" required />
                          <div class="invalid-feedback">Please enter your email.</div>
                        </div>
                      </div>

                      <div class="col-12">
                        <label for="yourPassword" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="yourPassword" required />
                        <div class="invalid-feedback">Please enter your password!</div>
                      </div>

                      <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Login</button>
                      </div>
                      <!-- <div class="col-12">
                        <p class="small mb-0">Don't have account? <a href="/register">Create an account</a></p>
                      </div> -->
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!-- AKHIR INPUT  -->
  </body>
</html>
